{% extends 'core/base_generic.html' %}

{% block content %}
    <p>Post details page</p>

    {% if is_author %}
        <a href="{% url 'social_app:post_editing' post.id %}"
           class="btn btn-outline-primary">Edit</a>
        <br>
    {% endif %}

    <label for="title">Title: {{ post.title }}</label>

    <br>

    {% if post.categories.all %}
        <label for="title">Categories:</label>
        {% for category in post.categories.all %}
            <p>{{ category.name }}</p>
        {% endfor %}
        <br>
    {% endif %}

    {% if post.experiences.all %}
        <label for="title">Experience:</label>
        {% for experience in post.experiences.all %}
            <p>{{ experience.name }}</p>
        {% endfor %}
        <br>
    {% endif %}

    <label for="short_description">Short Description: {{ post.short_description }}</label>

    <br>

    <label for="story">Story: {{ post.story }}</label>

{% endblock %}