<div class="container">

    {% if trending_post_list %}
        <div class="gallery style1 onscroll-fade-in">
            {% for post in trending_post_list %}

                {% include 'core/post_card.html' %}
                 {% include 'core/post_card.html' %}
                 {% include 'core/post_card.html' %}
                 {% include 'core/post_card.html' %}
                 {% include 'core/post_card.html' %}


            {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-success" role="alert">
            No post are available.
        </div>
    {% endif %}
</div>